.SettingsMenu {
  position: absolute;
  top: 20px;
  right: 20px;
  margin: 0;
  padding: 0;
  background-color: whitesmoke;

  display: flex;
  flex-direction: row;

  box-shadow: 3.2px 8px 2.4px rgba(0, 0, 0, 0.008),
    6.3px 16px 5.9px rgba(0, 0, 0, 0.017),
    9.4px 23.8px 11px rgba(0, 0, 0, 0.025),
    12.6px 31.8px 19.7px rgba(0, 0, 0, 0.033),
    15.8px 39.9px 36.8px rgba(0, 0, 0, 0.041),
    19px 48px 88px rgba(0, 0, 0, 0.05);
  border-radius: 25px;

  button {
    position: relative;
    top: 1px;
    height: 48px;
    right: auto;

    &:last-of-type {
      z-index: 100;
    }
  }
}

.expandedMenu {
  width: 48px;
  display: flex;
  flex-direction: row;
  position: relative;

  /* transform: scaleX(1); */
  transition: width 0.5s, opacity 0.5s;

  &.hidden {
    /* transform: scaleX(0); */
    width: 0;
    transition: width 0.5s;
    opacity: 0;
  }
}

.toggleShowFilter {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);

  width: 100dvw;
  height: 100dvh;

  > .menu {
    position: relative;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 25px;
    width: 60%;
    height: 80%;

    .menuCol {
      display: flex;
      flex-direction: column;
      width: 90%;
      height: 85%;
      margin: auto;
      align-items: center;
      justify-content: space-between;
    }

    .menuRowSeparator {
      width: 80%;
      height: 10px;
      border-bottom: solid 1px grey;
    }

    .menuRow {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 20px;
      row-gap: 20px;
      justify-content: space-evenly;

      &.indexSelection {
        width: 98%;
        margin: 0 auto;
      }

      > .menuRowItem {
        padding: 10px;
        border: 1px solid gray;
        border-radius: 10px;
        transition: background-color ease 0.2s;
        cursor: pointer;

        &:hover {
          background-color: rgba(0, 0, 0, 0.1);
        }
      }
      > .menuRowItemSelected {
        background-color: rgba(0, 0, 0, 0.1);
        border: 1px solid rgb(36, 36, 36);
      }
    }
  }
}
